*.class
*~
*.iml
.settings
*/.settings
*/.idea/**
.idea/**
.idea
log
log/**
/application/data/
/application/data/**
/data
/data/**
target/
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
/bin
bin/
**/build
**/target
node_modules
node_modules/**
